* {
margin: 0;
padding: 0;
}
html, body {
height: 100%;
}
.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
}
.content {
flex: 1 0 auto;
}
.footer {
flex: 0 0 auto;
}
h1 {
    color:darkgreen;
}

a {
    color: palevioletred;
}

a:hover {
    color: hotpink;
}

.menu {
    background-color: bisque;

}

.menu li {
    background-color: bisque;
    list-style: none;
}

.button {
background: cornflowerblue;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
}


input {
border: 1px solid #356EAD;
box-sizing: border-box;
border-radius: 10px;
opacity: 0.4;
width: 250px;
height: 30px;
margin: 10px 15px 15px 10px;
}

.menu ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
}


.forma form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
}